* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(167, 206, 206);
    text-align: center;

}

h1 {
    margin: 5px;
}


.input {
    border: none;
    text-align: right;
    width: 400px;
    height: 80px;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.button {
    border: none;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 30px;
    font-size: 40px;
    cursor: pointer;
}
